<div>
    <h1 class="text-center">Login</h1>
        <form class="d-flex justify-content-center mb-3" id="cookieForm" action="/api/session/login" method="POST">
            <input class="m-3" name="email" placeholder="ingrese Email"></input>
            <input class="m-3" name="password" type="password" placeholder="ingrese password"></input>
            <button class="btn btn-primary m-2" type="submit">Enviar</button>
        </form>
        <div class="d-flex justify-content-center">
            <a class="btn-primal m-2" href="/register">Registrarse</a>
            <button class="btn-primal m-2" href=""><a href="/api/session/loginGitHub">Entrar con GitHub</a></button>
            <button class="btn btn-primary m-2"><a href="/reset-password">Recuperar contraseña</a></button>
        </div>
</div>
<script src="/static/js/index.js"></script>